body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #EBECD5;
    display: flex;
    align-items: center;
}

.container {
    margin: auto;
}